{% extends 'base.html' %}
{% block title %} POSTS {% endblock %}
{% block content %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('posts.static', filename='css/posts.css') }}">
{% endblock %}

<div class="container">
    <div class="row mt-n5">
        {% for post in posts %}
        <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="blog-grid">
                <div class="blog-grid-img position-relative">
                    <img alt="img" src="{{ post['image_url'] if post['image_url'] else 'https://www.bootdey.com/image/480x480/00FFFF/000000' }}" width="350">
                </div>
                <div class="blog-grid-text p-4"> 
                    <h3 class="h5 mb-3">
                        <a href="{{ url_for('posts.detail_post', id=post['id']) }}">{{ post.title }}</a>
                    </h3>
                    <p class="display-30">{{ post.content }}...</p>
                    <div class="meta meta-style2">
                        <ul>
                            <li><a href="#!"><i class="fas fa-calendar-alt"></i> {{ post.posted.strftime('%Y-%m-%d %H:%M') }}</a></li>
                            <li><a href="#!"><i class="fas fa-user"></i> {{ post.author }}</a></li>
                        </ul>
                    </div>
                    <div class="meta meta-style2">
                        <a href="{{ url_for('posts.edit_post', post_id=post.id) }}">Редагувати</a>
                        <form method="POST" action="{{ url_for('posts.delete_post', post_id=post.id) }}" style="display: inline;">
                            <button type="submit" onclick="return confirm('Ви впевнені, що хочете видалити цей пост?');">Видалити</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}