{% extends "base3.html" %}

{% block content %}
<section id="about" class="mb-4">
    <h2>Про себе</h2>
    <img src="{{ url_for('static', filename='avatar.jpg') }}" alt="Фото">
    <p>Мене звати ... Я ... (коротка інформація, професійні навички, хобі, тощо).</p>
</section>

<section id="education" class="mb-4">
    <h2>Освіта</h2>
    <ul>
        <li>Університет: ... (назва університету)</li>
        <li>Факультет: ...</li>
        <li>Спеціальність: ...</li>
        <li>Роки навчання: ... - ...</li>
    </ul>
</section>

<section id="skills" class="mb-4">
    <h2>Навички</h2>
    <ul>
        <li>Мова програмування: ...</li>
        <li>Фреймворки: ...</li>
        <li>Інші технології: ...</li>
        <li>Софт-навички: ...</li>
    </ul>
</section>

<section id="experience" class="mb-4">
    <h2>Досвід роботи</h2>
    <ul>
        <li>Компанія: ... (назва компанії)</li>
        <li>Посада: ...</li>
        <li>Опис обов'язків: ...</li>
        <li>Роки роботи: ... - ...</li>
    </ul>
</section>
{% endblock %}
