{% extends "base.html" %}

{% block content %}

<header class="bg-primary text-white text-center p-3">
    <h1>Резюме</h1>
    <nav>
        <a href="#about" class="text-white">Про себе</a> |
        <a href="#education" class="text-white">Освіта</a> |
        <a href="#skills" class="text-white">Навички</a> |
        <a href="#experience" class="text-white">Досвід роботи</a>
    </nav>
</header>

<section id="about" class="mb-4">
    <h2>Про себе</h2>
    <img src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="Фото">
    <p>Мене звати Ілля. Я студент 3 курсу, знаю не надто багато проте активно навчаюсь 
        аби вирішити дану проблему незнання.</p>
</section>

<section id="education" class="mb-4">
    <h2>Освіта</h2>
    <ul>
        <li>Університет: Прикарпатський національний університет імені Василя Стефаника</li>
        <li>Факультет: математики та інформатики</li>
        <li>Спеціальність: 121 Інженерія програмного забезпечення</li>
        <li>Роки навчання: 2022 - сьогоднішній день</li>
    </ul>
</section>

<section id="skills" class="mb-4">
    <h2>Навички</h2>
    <ul>
        <li>Мова програмування: ... </li>
        <li>Фреймворки: ...</li>
        <li>Інші технології: ... </li>
        <li>Софт-навички: ... </li>
    </ul>
</section>

<section id="experience" class="mb-4">
    <h2>Досвід роботи</h2>
    <ul>
        <li>Компанія: ... </li>
        <li>Посада: ... </li>
        <li>Опис обов'язків: ... </li>
        <li>Роки роботи: ... - ... </li>
    </ul>
</section>
{% endblock %}
